:root {
  --brand-colors-pink: #f67acb;
  --brand-colors-100: #050110;
  --brand-colors-200: #e6ebf2;
  --gray-colors-200: #1c1d1f;
  --gray-colors-300: #393c40;
  --gray-colors-400: #5c6066;
  --gray-colors-800: #f7f8fa;
  --white-colors-text: rgba(255, 255, 255, 0.7);
  --white: #ffffff;
}
